body{
	/*background: url("1.png") no-repeat 50% 50%;
   background-size: cover;*/
   background-image: url(" http://www.sololearn.com/uploads/better-code.jpg");
    background-position: left top;
    background-repeat: no-repeat;
	background-size: cover;
}
#div{
	width: 200px;
    height: 200px;
	background-color:#62FF00;
	border:1px solid black;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	-ms-border-radius: 100px;
	-webkit-box-shadow: 10px 10px 5px 5px #000000;
	-moz-box-shadow: 10px 10px 5px 5px #000000;
	-o-box-shadow: 10px 10px 5px 5px #000000;
	-ms-box-shadow: 10px 10px 5px 5px #000000;
}
h1 {
    text-shadow: 5px 10px 2px #93968f, 
      -3px 6px 5px #58d1e3;
}
#grad{
	width: 300px; 
   height: 100px;
   margin: 4px;
   color:#D0FF00;
   background:-moz-linear-gradient(left, #D00000, #2DD000);
}
#grad2{
height: 150px;
   width: 200px;
   color: #FFF;
   background: -moz-radial-gradient(circle, green, yellow, blue); 
}
img{
	opacity: 0.5;
	filter: alpha(opacity=50);
	filter: drop-shadow(5px 9px 2px #000000) grayscale(50%) sepia(100%) hue-rotate(180deg) brightness(200%) blur(5px);
}
#width {
   width: 200px;
   height: 100px;
   margin-top: 30px;
   background: #32CD32;
   transition: width 6s;
   transform: scale(0.7, 0.7) skew(-30deg);
   animation-name: colorchange;
   animation-duration: 2s;
   animation-delay: 2s;
   animation-iteration-count: infinite;
}
#width:hover {
	transition: transform 2s;
	transform: rotate(30deg) scale(0.7, 0.7);
   width: 500px;
}
@keyframes colorchange {
   0% {background-color: red;}
   50% {background-color: green;}
   100% {background-color: blue;}
} 
