body{
	background-image:url(2.jpg);
}

#test{
	transform: rotate(-45deg) scale(2.0);
	transition:1.0s all;
	background-color:#000000;
	color:#FF2327;
	padding:15px;
	margin-right:905px;
	margin-left:925px;
	border: 2px solid red;
	border-radius:100px;
	opacity:0.7;
	box-shadow:10px 10px 17px yellow;
	width: 10%;
	display: block;
	text-align:center;
	font-weight:900;
}
#test:hover {
	transform:rotate(90deg) scale(2.5);
	background-color:red;
}